
*{ 
	padding: 0;
	margin: 0;
	font-family:Quicksand sans-serif;
}
body {
  background-image: url("download.png");
}
header {

	height: 70px;
}
header h1{
	display: inline-block;
	float: left;
	padding: 30px 40px;
	text-transform: uppercase;
}
header h1 a:hover{
	color: darkred;
}
header h1 a {
	color: black;
}
header ul{
	float: right;
}
header ul li{
	padding: 24px;
	display: inline-block;
}
header ul li a:hover{
	color: rgb(7, 7, 7);

}
a{
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container::after{
	content: '';
	display: block;
	clear: both;
}
.mobile-menu{
	float: right;
	display: none;
	padding: 18px;
	
}
.mobile-menu:hover{
	cursor: pointer;
}
#check{
	display: none;
}
.sidebar	{
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color:gray;
}
.sidebar ul li a{
	color: darkgray;
}
.sidebar ul li{
	padding: 24px;
	border: 1px solid;
}
.sidebar ul li:hover{
	color: saddlebrown;
}
#check:checked ~ .sidebar{
	left: 0 ;
}
.banner{
	background-color: darkgrey;
}
section{
	padding: 50px;
}
.banner img{
	width: 200px;
	border-radius: 40px;
	box-shadow: 0 3px 5px #ddd;
}
.banner h2{
	color: black;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position: relative;
}
section h3::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: rgb(0, 0, 0);
	left: calc(50% - 60px);
}
section h3::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 4px;
	background-color: darkred;
	left: calc(50% - 20px);


}
section h4{
	color: black;
}
.col-4 img{
	width: 1000px;

}
.col-4 a:hover img{
	transform: scale(1.2);
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul{
		display: none;

	}
}